.Banner{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    .Info{
        position: absolute;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border: none;
        height: 135px;
        width: 255px;
        padding: 10px;
        left: 69%;
        top: 18%;

        .message{
            display: flex;
            flex-direction: column;
            .subtitle{
                font-weight: bold;
                font-size: 1rem;
                margin: 0;
            }
        }
    }
}