header .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 40%;
}
header .login {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .login button {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
  color: #2c3e50;
}

.Banner {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.Banner img {
  height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Banner .Info {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: none;
  width: 25%;
  padding: 20px;
  left: 60%;
  top: 18%;
}
.Banner .Info .message {
  display: flex;
  flex-direction: column;
}
.Banner .Info .message .subtitle {
  font-weight: 900;
  font-size: 1.2rem;
  margin: 0;
}

@media (max-width: 1024px) {
  .Banner .img {
    height: 300px;
  }
  .Banner .Info {
    width: 200px;
    left: 35%;
    top: 14%;
  }
  .Banner .Info .message .subtitle {
    font-size: 1rem;
  }
  .Banner .Info .message p {
    font-size: 0.75rem;
  }
}
footer {
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.home .bodyHome {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 2px solid rgb(204, 204, 204);
}
.home .bodyHome .box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .bodyHome .box h3 {
  text-align: center;
  font-size: 1.1rem;
  color: black;
}
.home .bodyHome .box img {
  width: 25%;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}
.home .bodyHome .box p {
  font-size: 13px;
  text-align: center;
}

@media (max-width: 1024px) {
  .home .bodyHome {
    flex-direction: column;
    align-items: center;
  }
  .home .bodyHome .box {
    width: 100%;
    margin-bottom: 10%;
  }
  .home .bodyHome .box h3 {
    margin-block-end: 15px;
  }
  .home .bodyHome .box p {
    margin: 0;
  }
}
.login-page {
  display: flex;
  justify-content: center;
  background-color: #12002b;
  height: 600px;
}
.login-page .Log-content {
  display: flex;
  flex-direction: column;
  margin-top: -16%;
  width: 22%;
  background-color: white;
  padding: 30px;
}
.login-page .Log-content .headLog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-page .Log-content .headLog h1 {
  font-size: 1.25rem;
}
.login-page .Log-content form {
  display: flex;
  flex-direction: column;
}
.login-page .Log-content form label {
  font-size: 1rem;
}
.login-page .Log-content form .item {
  width: 95%;
  margin-top: 5px;
  height: 30px;
}
.login-page .Log-content form .check {
  margin-top: 10px;
}
.login-page .Log-content form button {
  display: block;
  border: none;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #12002b;
  height: 750px;
  color: white;
  text-align: center;
}
.user-page form {
  display: flex;
  flex-direction: column;
}
.user-page form .formInp {
  display: flex;
  flex-direction: column;
}
.user-page form .formInp label {
  margin-bottom: 10px;
}
.user-page form .formInp label input {
  border-radius: 5px;
  color: black;
}
.user-page form .btn {
  display: flex;
  gap: 10px;
}
.user-page form .btn button {
  border-radius: 5px;
  width: 100%;
  height: 30px;
}
.user-page button {
  display: block;
  border: none;
  width: 10%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-size: 0.6rem;
  cursor: pointer;
}
.user-page .account {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.user-page .account .main-item {
  width: 100%;
}
.user-page .account .main-item .Item {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.user-page .account .main-item .Item .sub-item {
  text-align: start;
}
.user-page .account .main-item .Item .sub-item h3 {
  margin: 0;
}
.user-page .account .main-item .Item .sub-item p {
  margin: 0;
}
.user-page .account .main-item .Item .sub-item .amount {
  font-weight: bold;
  font-size: 40px;
  color: #2c3e50;
  margin: 0;
}
.user-page .account .main-item .transaction-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  color: black;
}
.user-page .account .main-item .transaction-grid .grid-label {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 30px;
  align-items: center;
  font-weight: bold;
}
.user-page .account .main-item .transaction-grid .transaction-card {
  display: flex;
  flex-direction: column;
  background-color: #00bc77;
  color: white;
  margin: 10px;
  border-radius: 10px;
}
.user-page .account .main-item .transaction-grid .transaction-card .grid-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 40px;
  align-items: center;
}
.user-page .account .main-item .transaction-grid .transaction-card .grid-row .grid-row-full {
  position: absolute;
  margin-top: -30px;
  left: 84%;
}
.user-page .account .main-item .transaction-grid .transaction-card .grid-row .grid-row-full button {
  background-color: #00bc77;
  height: 10px;
}
.user-page .account .main-item .transaction-grid .transaction-card .transaction-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.user-page .account .main-item .transaction-grid .transaction-card .transaction-details .detail-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
}
.user-page .account .main-item .transaction-grid .transaction-card .transaction-details .detail-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
  margin-bottom: 10px;
}
.user-page .account .main-item .transaction-grid .transaction-card .transaction-details .detail-info .fa-solid {
  margin-left: 5px;
}
.user-page .account button {
  display: block;
  border: none;
  width: 20%;
  height: 50px;
  padding: 8px;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  padding-left: 5%;
  padding-right: 5%;
}
main .error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
main .error h1 {
  color: #FF6060;
  font-size: 100px;
  margin: 0;
}
main .error p {
  color: #FF6060;
  text-align: center;
  font-weight: 500;
}
main a {
  margin-top: 50px;
  margin-bottom: 100px;
  font-weight: 500;
  color: black;
}

html {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
}/*# sourceMappingURL=main.css.map */