.user-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #12002b;
    height: 800px;
    color: white;
    text-align: center;
    form{
        display: flex;
        flex-direction: column;
        .formInp{
            display: flex;
            flex-direction: column;
            label{
                margin-bottom: 10px;
                input{
                    border-radius: 5px;
                    color: black;
                }
            }
        }
        .btn{
            display: flex;
            gap: 10px;
            button{
                border-radius: 5px;
                width: 100%;
                height: 30px;
            }
        }
    }
    button{
        display: block;
        border: none;
        width: 10%;
        padding: 8px;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 1rem;
        border-color: #00bc77;
        background-color: #00bc77;
        color: #fff;
        font-size: 0.6rem;
        cursor: pointer;
    }
    .account{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        .main-item{
            width: 100%;
            table{
                width: 100%;
                background-color: grey;
                margin-top: 20px;
                border-collapse: separate;
                border-spacing: 0 20px;
                padding: 5px;
                .description{
                    background-color: gray;
                }
                tr {
                    background-color: #00bc77;
                    .act{
                        border-collapse: collapse;
                    }

                    td {
                    background-color: #00bc77;
                    height: 50px;

                        &:first-child {
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                        }

                        &:last-child {
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                }
                tbody{
                    .sub-row{
                        .details{
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr 1fr;
                            text-align: start;
                            .colum1{
                                padding-left: 20%;
                            }
                            .colum2{
                                padding-left: 25%;
                                .fa-pencil{
                                    font-size: 15px;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }      
            }
            .Item{
                display: flex;
                justify-content: space-between;
                color: black;
                background-color: white;
                padding: 15px;
                .sub-item{
                    text-align: start;
                    h3{
                        margin: 0;
                    }
                    p{
                        margin: 0;
                    }
                    .amount{
                        font-weight: bold;
                        font-size: 40px;
                        color: #2c3e50;
                        margin: 0;
                    }
                }
            }
        
        }
        button{
            display: block;
            border: none;
            width: 20%;
            height: 50px;
            padding: 8px;
            font-weight: bold;
            margin-top: 1rem;
            border-color: #00bc77;
            background-color: #00bc77;
            color: #fff;
            font-size: 0.9rem;
            cursor: pointer;
        }
    }
}