.user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #12002b;
  height: 690px;
  color: white;
  text-align: center;
}
.user-page form {
  display: flex;
  flex-direction: column;
}
.user-page form .formInp {
  display: flex;
  flex-direction: column;
}
.user-page form .formInp label {
  margin-bottom: 10px;
}
.user-page form .formInp label input {
  border-radius: 5px;
  color: black;
}
.user-page form .btn {
  display: flex;
  gap: 10px;
}
.user-page form .btn button {
  border-radius: 5px;
  width: 100%;
  height: 30px;
}
.user-page button {
  display: block;
  border: none;
  width: 10%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-size: 0.6rem;
  cursor: pointer;
}
.user-page .account {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.user-page .account .main-item {
  width: 100%;
}
.user-page .account .main-item .Item {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.user-page .account .main-item .Item .sub-item {
  text-align: start;
}
.user-page .account .main-item .Item .sub-item h3 {
  margin: 0;
}
.user-page .account .main-item .Item .sub-item p {
  margin: 0;
}
.user-page .account .main-item .Item .sub-item .amount {
  font-weight: bold;
  font-size: 40px;
  color: #2c3e50;
  margin: 0;
}
.user-page .account .main-item .transaction-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  color: black;
}
.user-page .account .main-item .transaction-grid .grid-label {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 30px;
  align-items: center;
  font-weight: bold;
}
.user-page .account .main-item .transaction-grid .transaction-card {
  display: flex;
  flex-direction: column;
  background-color: #00bc77;
  color: white;
  margin: 10px;
  border-radius: 10px;
}
.user-page .account .main-item .transaction-grid .transaction-card .grid-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 40px;
  align-items: center;
}
.user-page .account .main-item .transaction-grid .transaction-card .grid-row .grid-row-full {
  position: absolute;
  margin-top: -30px;
  left: 84%;
}
.user-page .account .main-item .transaction-grid .transaction-card .grid-row .grid-row-full button {
  background-color: #00bc77;
  height: 10px;
}
.user-page .account .main-item .transaction-grid .transaction-card .transaction-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.user-page .account .main-item .transaction-grid .transaction-card .transaction-details .detail-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
}
.user-page .account .main-item .transaction-grid .transaction-card .transaction-details .detail-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
  margin-bottom: 10px;
}
.user-page .account .main-item .transaction-grid .transaction-card .transaction-details .detail-info .fa-solid {
  margin-left: 5px;
}
.user-page .account button {
  display: block;
  border: none;
  width: 20%;
  height: 50px;
  padding: 8px;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
}/*# sourceMappingURL=user.css.map */