.login-page{
    display: flex;
    justify-content: center;
    background-color: #12002b;
    height: 600px;
    .Log-content{
        display: flex;
        flex-direction: column;
        margin-top: -16%;
        width: 22%;
        background-color: white;
        padding: 30px;
        .headLog{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                font-size: 1.25rem;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            label{
                font-size: 1rem;
            }
            .item{
                width: 95%;
                margin-top: 5px;
                height: 30px;
            }
            .check{
                margin-top: 10px;
            }
            button{
                display: block;
                border: none;
                width: 100%;
                padding: 8px;
                font-size: 1.1rem;
                font-weight: bold;
                margin-top: 1rem;
                border-color: #00bc77;
                background-color: #00bc77;
                color: #fff;
            }
        }
    }
}