.Banner{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    img{
        height: 350px;
        width: 100%;
        object-fit: cover;
    }
    .Info{
        position: absolute;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border: none;
        width: 25%;
        padding: 2rem;
        left: 60%;
        top: 18%;

        .message{
            display: flex;
            flex-direction: column;
            .subtitle{
                font-weight: 900;
                font-size: 1.2rem;
                margin: 0;
            }
        }
    }
}
